<div id="page-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout">
      <div class="row">
        <div class="12u">
          <section class="center">
            <h2>RSVP By Address:</h2>
            <%= form_tag({controller: "people", action: "index"}, method: "get") do %>
              <p><%= text_field_tag(:address) %>
              <%= submit_tag("Search") %></p>
            <% end %>

            <% if flash[:search_status] %>
              <br/><div class="notice"><%= flash[:search_status] %></div>
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="feature-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout">
      <div class="row">
        <div class="12u">
          <section class="center">
            <h3>Tips:</h3>
            <ul>
              <li>Enter address as written on your envelope</li>
              <li>Try just house number and street name (511 fifth)</li>
              <li>Use words for any street name lower than 50 (511 fifth, not 511 5th)</li>
              <li>Spell out "street", "avenue", etc.</li>
            </ul>
            <br/>
            <h3>Voicemail:</h3>
              <p>(720) 340-1417</p>
            <br/>
            <h3>Email:</h3>
              <p><a href="mailto:sethgoings@gmail.com">sethgoings@gmail.com</a></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>