<div id="feature-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout" style="text-align: center">
      <div class="row">
        <div class="12u" class="mobileUI-main-content">
          <section>
            <h2>Person</h2>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

