<div id="twocolumn">
  <div class="12u">
    <div id="twocolumn2-content" class="5grid-layout">
      <div class="row">
        <div class="12u">
          <section>
            <h2>Hotel Reservations</h2>
            <p>We have wedding blocks at the following locations near the venue. Please make your reservations by the indicated date to receive your group rate.  Reservations made after this date will be subject to prevailing rate and availability.</p>
            <p>&nbsp;</p>
            <p></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page-wrapper">
  <div class="12u">
    <div id="page" class="5grid-layout">
      <div class="row">
        <div class="6u">
          <section>
            <h2>Drury Hotel</h2>
            <p>Book by 5/5/14</p>
            <p><%= link_to 'Book Online', 'http://www.druryhotels.com/Reservations.aspx?groupno=2188782' %></p>
          </section>
        </div>
        <div class="6u">
          <section>
            <h2>Springhill Suites by Marriott </h2>
            <p>Book by 5/15/14</p>
            <p><%= link_to 'Book Online', 'http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Waacks/Goings%20Wedding%20Block%5Edenwm%60WAGWAGA%7CWAGWAGB%609900%60USD%60false%606/5/14%606/9/14%605/15/14&app=resvlink&stop_mobi=yes' %></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>