<div id="page-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout">
      <div class="row">
        <div class="12u">
          <section class="center">
            <h2>Hotel Reservations</h2>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="twocolumn">
  <div class="12u">
    <div id="twocolumn2-content" class="5grid-layout">
      <div class="row">
        <div class="6u">
          <section class="center">
            <h2>Drury Hotel</h2>
            
            <p>10393 Reed St, Westminster, CO</p>
            <p>(303) 460-1220</p>

            <p><%= link_to 'Book Online', 'http://www.druryhotels.com/Reservations.aspx?groupno=2188782' %> (by 5/5/14)</p>
          </section>
        </div>
        <div class="6u">
          <section class="center">
            <h2>Springhill Suites by Marriott</h2>
            <p>6845 W 103rd Ave, Westminster, CO</p>
            <p>(303) 464-1999</p>
            <p><%= link_to 'Book Online', 'http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Waacks/Goings%20Wedding%20Block%5Edenwm%60WAGWAGA%7CWAGWAGB%609900%60USD%60false%606/5/14%606/9/14%605/15/14&app=resvlink&stop_mobi=yes' %> (by 5/15/14)</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout">
      <div class="row">
        <div class="12u">
          <section class="center">
            <h2>Activities</h2>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="twocolumn">
  <div class="12u">
    <div id="twocolumn2-content" class="5grid-layout">
      <div class="row">
        <div class="1u">&nbsp;</div>
        <div class="11u">
          <p><a href="http://www.celestialseasonings.com/tours" target="blank">Celestial Seasonings Tour</a> in Boulder is a fun family activity.</p>
          <p>People watching (or shopping) on the <a href="http://16thstreetmalldenver.com/" target="blank">16th Street Mall</a> in Denver or on the <a href="http://www.boulderdowntown.com/visit" target="blank">Pearl Street Mall</a> in Boulder. If you go to Denver, check out the <a href="http://www.tatteredcover.com/lower-downtown-store-historic-lodo" target="blank">Tattered Cover Bookstore</a> or in Boulder, make sure you stop at <a href="http://www.intothewind.com/" target="blank">Into the Wind</a>.</p>
          <p>A walk on the wild side at the <a href="http://www.denverzoo.org/" target="blank">Denver Zoo</a> or at the <a href="http://www.butterflies.org/" target="blank">Butterfly Pavilion</a></p>
          <p>A brewery tour at <a href="http://www.millercoors.com/AgeVerification.aspx" target="blank">Coors</a> or at <a href="http://lefthandbrewing.com/" target="blank">Lefthand</a> or any of the other breweries around.</p>
  <p>Check out a <a href="http://colorado.rockies.mlb.com/index.jsp?c_id=col" target="blank">Rockies game at Coors Field</a> - they’re in town that weekend.</p>
  <p>Enjoy the beautiful scenery on a hike at <a href="http://www.chautauqua.com/" target="blank">Chautauqua Park</a> [Shah ta kwa] in Boulder.</p>
  <p>Brave a roller coaster at <a href="https://www.elitchgardens.com/" target="blank">Elitch Gardens Theme &amp; Water park</a>.</p>
  <p>Or head up to the mountains to visit <a href="http://www.visitestespark.com/" target="blank">Estes Park</a> or <a href="http://visitidahospringscolorado.com/" target="blank">Idaho Springs</a> and maybe even try some white water rafting.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="page-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout">
      <div class="row">
        <div class="12u">
          <section class="center">
            <h2>Restaurants</h2>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="twocolumn">
  <div class="12u">
    <div id="twocolumn2-content" class="5grid-layout">
      <div class="row">
        <div class="4u">
          <h1 class="center">Lafayette</h1>
            <h3>Efrain’s</h3>
            <p>(Mexican) - Where we had our first date.</p>

            <h3>Pho Cafe</h3>
            <p>(Vietnamese) - We love Pho on cold days, but hopefully it won’t be cold while you’re visiting us for the wedding.</p>
        </div>
        <div class="4u">
          <h1 class="center">Boulder</h1>
            <h3>Pearl Street Mall</h3>
        </div>
        <div class="4u">
          <h1 class="center">Denver</h1>
            <h3>Choppers Custom Salads</h3>
            <p>(Salads) - a favorite summer lunch spot.</p>

            <h3>Mellow Mushroom</h3>
            <p>(Pizza) - we love the honey in the crust.</p>

            <h3>D’Corazon</h3>
            <p>(Mexican)</p>
        </div>
      </div>
      <div class="row">
        <div class="4u">
          <h1 class="center">Longmont</h1>
        </div>

        <div class="4u">
          <h1 class="center">Westminster/Broomfield</h1>
            <h3>Proto’s Pizza</h3>
            <p>(gourmet pizza) - Seth loves the Low Rider pizza. Trust us, it’s delicious!</p>

            <h3>Original Pizza</h3>
            <p>(NYC style pizza) - Britt (and Seth) will miss this place being down the street when she moves to Seth’s house.</p>

            <h3>Rock Bottom Restaurant &amp; Brewery</h3>
            <p>(American) - A solid choice!</p>
        </div>

        <div class="4u">
          <h1 class="center">Golden</h1>
        </div>

      </div>
    </div>
  </div>
</div>





