<div id="feature-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout" style="text-align: center">
      <div class="row">
        <div class="12u" class="mobileUI-main-content">
          <section>
            <h2>Ceremony &amp; Reception</h2>
            <p>Both our ceremony and reception will be held at: <br/><br/>

              <strong><%= link_to 'The Gatehouse at Lionsgate Center', 'http://www.lionsgatecenter.com/gatehouse.html' %></strong>

            </p>

            <p>1055 S 112th St<br/>
            Lafayette, CO 80026</p>

            <p>&nbsp;</p>
            <p class="bold">Ceremony starts at 6pm (MST)</p>            
            <p>A <%= link_to 'live stream', 'http://63.255.4.155/view/viewer_index.shtml?id=134' %> is also available</p>            
          </section>
        </div>
      </div>
    </div>
  </div>
</div>