<div id="page-wrapper">
  <div class="12u">
    <div id="twocolumn2-content" class="5grid-layout">
      <div class="row">
        <div class="4u" style="text-align: center">
          <section>
            <h2>brittany</h2>
          </section>
        </div>
        <div class="4u" style="text-align: center">
          <section>
            <h2>and</h2>
          </section>
        </div>
        <div class="4u" style="text-align: center">
          <section>
            <h2>seth</h2>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>