<div id="page-wrapper">
  <div class="12u">
    <div id="twocolumn2-content" class="5grid-layout">
      <div class="row">
        <div class="12u" style="text-align: center">
          <section>
            <%= image_tag 'river_background_gray.jpg' %>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>