<div id="page-wrapper">
  <div class="12u">
    <div id="page" class="5grid-layout">
      <div class="row">
        <div class="9u">
          <section>
            <h2>Maecenas luctus lectus at sapien</h2>
            <p></p>
            <p>Welcome to <strong>Affection</strong>, a free responsive HTML5 website template designed by <a href="http://html5templates.com/">HTML5Templates.com</a>.   It features a warm color palette, a large banner area, and four featured image spots, making it a great design for a portfolio-style site.  And like all of our templates, it is built on HTML5 and CSS3, has full responsive support for desktops, tablets, and mobile devices, and is 100% free to use personally or commercially under the <a href="http://html5templates.com/license/">Creative Commons license</a>. Be sure to check out our <a href="http://html5templates.com/">website</a> for more awesome free HTML5 templates and follow us on <a href="http://twitter.com/HTML5T">Twitter</a> for updates and new releases! Enjoy!</p>
            <p></p>
          </section>
        </div>
        <div class="3u">
          <section>
            <h2>Lectus at sapien</h2>
            <ul class="list-style2">
              <li><a href="#">Pellentesque quis elit non gravida blandit.</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet, adipiscing elit.</a></li>
              <li><a href="#">Phasellus nec erat sit pellentesque congue.</a></li>
              <li><a href="#">Cras vitae metus pellentesque pharetra.</a></li>
              <li><a href="#">Maecenas vitae orci vitae  feugiat eleifend.</a></li>
              <li><a href="#">Pellentesque quis elit non gravida blandit.</a></li>
              <li><a href="#">Lorem ipsum dolor sit amet, adipiscing elit.</a></li>
              <li><a href="#">Maecenas vitae orci  tellus feugiat eleifend.</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>