<div id="twocolumn">
  <div class="12u">
    <div id="twocolumn2-content" class="5grid-layout">
      <div class="row">
        <div class="6u">
          <section>
            <h2 class="center">Brittany's Story</h2>
            <p>I met Seth for the first time in October 2011 at a small group meeting, but I successfully avoided talking to him until December. Shortly after that, we discovered that we had mutual friends and I decided to stop running in the other direction.  On a snowy evening in February 2012, we had dinner for the first time at Efrain’s in Lafayette, CO where I remember laughing...a lot! We continued to communicate and spend some time together-- I even stayed up late on school nights to hang out with him. On Easter 2012, we decided to make it official.</p>
            <p>&nbsp;</p>
            <p>In July 2012, I spent three weeks studying French with other teachers from around the world in Quebec City, Canada. During this separation, there were lots of Skype dates and missing each other. Once my classes were over, Seth joined me and we spent almost a week exploring the city together. I think both of us look back at this time as significant in our relationship. And we figured out that we’re pretty good travel buddies.</p>
            <p>&nbsp;</p>
            <p>During the fall, I finally acknowledged (to myself and to Seth) that I loved him and couldn’t imagine my life without my best friend. He’s logical, I’m emotional. He’s always hot, I’m always cold.  He’s adventurous, I’m cautious. He only reads non-fiction, I love getting lost in a good story. He’s full of laughter, I’m serious. He’s a night-owl, I’m a morning person. But we both place a high value on honest communication and that’s why we make a great team.</p>
            <p>&nbsp;</p>
            <p>Seth shocked me by proposing in the presence of both of our families on June 9, 2013 and I can't wait to continue our journey together... as husband &amp; wife.</p>
          </section>
        </div>
        <div class="6u">
          <section>
            <h2 class="center">Seth's Story</h2>
            <p>I'm pretty sure I saw Brittany in the congregation several times while I played guitar or operated the audio/video equipment at the Mile High Vineyard (one of the unspoken perks about the "behind-the-scenes" jobs) but when she showed up at the small group that I was attending, I immediately initiated engineering problem solving stage one: observation.</p>
            <p>&nbsp;</p>
            <p>I was conflicted: I was very interested in talking to her, but she had a knack for avoiding me or being in conversations with other small group members (later I found that *gasp* was on purpose!). Brittany seemed way out of my league (professional, more mature, definitely more attractive), but that made me even more entranced...</p>
            <p>&nbsp;</p>
            <p>Eventually I got my chance to talk to her - at the small group Christmas party. Despite the numerous kids who were wrestling and body slamming me while I tried to continue a conversation with Brittany (though I do hope that the kid interaction won me a few extra seconds of attention), I broke through the initial "first conversation" awkwardness barrier. Looking back, I view this moment as:</p>
            <p>&nbsp;</p>
            <center><iframe width="420" height="315" src="//www.youtube.com/embed/Ar6xC8KM-jk" frameborder="0" allowfullscreen></iframe></center>
            <p>&nbsp;</p>
            <p>After that point I made sure to play it cool: (1) not act too interested and (2) crack some well-proven jokes when I knew she was paying attention. However, being a standard male, I missed several key opportunities to spend time with her and had to revert to my shy nerd safety net: sending Brittany a quite overly thought out Facebook message after a hurried interaction at church. I remember spending way more time than necessary crafting a note that wasn't too intrusive, wasn't too forward, but didn't sound too wishy-washy. She responded fairly quickly; "YEAH! Score!" I thought.</p>
            <p>&nbsp;</p>
            <p>During our (what I refer to as our) first "non-date" date, I finally had the chance to get to know Brittany. However, I'll have to admit that I was less focused on her answers to questions; I really wanted to avoid an awkward evening so I was continually trying to avoid dead air, keep the conversation balanced between us, ask intriguing questions, and deliver fascinating stories. My game plan was to make sure she had a good time and felt comfortable talking to me... and then go our separate ways after dinner. I had to avoid looking like I was _too_ interested in her.</p>
            <p>&nbsp;</p>
            <p>One bit of information I do remember gathering and leveraging later was Brittany's stories of her job as a High School French Teacher. My thought after hearing she was a French teacher? "Oh do I have some tricks up my sleeve for you..." You see - at the time I was finishing up an 8 session French cooking course. I had learned how to make souffles, creme brulee, and other butter-infused, rich, French dishes. I figured I'd be able play this card in due time...</p>
            <p>&nbsp;</p>
            <p>Our next interaction came after I was in the process of moving into a new apartment. Jokingly, I sent a text to Brittany suggesting that she come over and help me unpack - as in: "help organize my kitchen."" Unfortunately, the joke was on me, as she _loves_ organizing anything, especially kitchens. As I remember it, Brittany was at my doorstep in minutes. "This one's a keeper" I thought.</p>
            <p>&nbsp;</p>
            <p>The turning point in our perspective of each other (from my perspective) came one day when I had just gotten back from watching the festivities (pure craziness) of Downtown Denver during St. Patrick's Day. Shortly after arriving at my apartment, I received a text from Brittany that said something like: "Hey I was just across the street from your apartment!" To which I responded: "And you didn't come visit!?" I'd like to think that Britt's reaction after receiving my response went something like:</p>
            <p>&nbsp;</p>
            <center><iframe width="560" height="315" src="//www.youtube.com/embed/926SVUFeJ94" frameborder="0" allowfullscreen></iframe></center>
            <p>&nbsp;</p>
            <p>The amount of time we spent together steadily increased. I found myself mentioning "the French teacher" to my coworkers more often. I made sure her phone didn't idle too much or get too lonely while she was teaching. We spent a bunch of time catching up on shows like Big Bang Theory, White Collar, and Sherlock (BBC Series). One morning during a quick conversation with Brittany at church, I mentioned that I was going to go see Hillsong (a Christian band) in Colorado Springs with my sister soon. Before I could even realize what was coming out of my mouth, I had asked if she would like to come along. Without much hesitation, she said "Yeah! That sounds like fun."</p>
            <p>&nbsp;</p>
            <p>In the back of my head, I knew that I had just turned over the DTR (Define The Relationship) hourglass. There was no going back - I had to relay "my intentions" before spending the whole weekend with her. Rather than wait until we were trapped in a car together or trying to sleep on couches across the room from each other at my sister's place overnight, I had planned to play the "Let's Make This Relationship Official" card the weekend before the concert.</p>
            <p>&nbsp;</p>
            <p>However, the week before I was planning on having "the conversation" I simply couldn't handle waiting out any longer; I raced over to her apartment one evening and told her how much I had enjoyed the ever-increasing amount of time we were spending together.
            <p>&nbsp;</p>
            <p>After that moment, I was pretty much all in. Brittany was the absolute best girlfriend I could ever hope to have. She even survived being peppered with awkward questions from my Uncle Mark at a family get together soon after we started dating! So after a few months (Britt insists it was more on the order of weeks) I dropped the "L(ove)" word. That interaction went something like this:</p>
            <p>&nbsp;</p>
            <center><iframe width="420" height="315" src="//www.youtube.com/embed/dE-lsrft1c8" frameborder="0" allowfullscreen></iframe></center>
            <p>&nbsp;</p>
            <p>Needless to say, Britt wasn't quite there yet. Eventually, we overcame that hurdle and from that point on it was:</p>
            <p>&nbsp;</p>
            <p>&lt;BLAH BLAH BLAH&gt;</p>
            <p>&lt;Ooey gooey gushy smushy&gt;</p>
            <p>&lt;Perfect (but clueless) dating couple relationship stories&gt;</p>
            <p>&nbsp;</p>
            <p>After a few more months of growing closer to Brittany, meeting her parents and being accepted even after dropping a whole pan of piping hot green bean casserole all over their stairs, I knew it was "Go" time for another relationship transformation.</p>
            <p>&nbsp;</p>
            <p>In classic Seth style, for the engagement I hand-picked each component of a ring and stone (cause we engineers will take any chance we can get to build something) and created an all-photo story book of our relationship to that point just wee hours before our parents would meet for the first time...</p>
            <p>&nbsp;</p>
            <p>The combined shock, excitement, and agreement on Brittany's face at the exact moment I revealed the ring will remain with me for years to come...</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>