<div id="twocolumn">
  <div class="12u">
    <div id="twocolumn2-content" class="5grid-layout">
      <div class="row">
        <div class="6u">
          <section>
            <h2>Britt's Story</h2>
            <p>I met Seth for the first time in Ocotber 2011 at a small group meeting, but I successfully avoided talking to him until December. Shortly after that, we discovered that we had mutual friends and I decided to stop running in the other direction.  On a snowy evening in February 2012, we had dinner for the first time at Efrain’s in Lafayette, CO where I remember laughing...a lot! We continued to communicate and spend some time together-- I even stayed up late on school nights to hang out with him. On Easter 2012, we decided to make it official.</p>
            <p>&nbsp;</p>
            <p>In July 2012, I spent three weeks studying French with other teachers from around the world in Quebec City, Canada. During this separation, there were lots of Skype dates and missing each other. Once my classes were over, Seth joined me and we spent almost a week exploring the city together. I think both of us look back at this time as significant in our relationship. And we figured out that we’re pretty good travel buddies.</p>
            <p>&nbsp;</p>
            <p>During the fall, I finally acknowledged (to myself and to Seth) that I loved him and couldn’t imagine my life without my best friend. He’s logical, I’m emotional. He’s always hot, I’m always cold.  He’s adventurous, I’m cautious. He only reads non-fiction, I love getting lost in a good story. He’s full of laughter, I’m serious. He’s a night-owl, I’m a morning person. But we both place a high value on honest communication and that’s why we make a great team.</p>
            <p>&nbsp;</p>
            <p>Seth shocked me by proposing in the presence of both of our families on June 9,  2013 and I think I said yes. I don’t remember, but he assures me that I did officially accept. :-)</p>
          </section>
        </div>
        <div class="6u">
          <section>
            <h2>Seth's Story</h2>
            <p></p>
            <p>Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet.</p>
            <p>&nbsp;</p>
            <p>Donec leo. Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. Nulla enim eros, porttitor eu, tempus id, varius non, nibh. Duis enim nulla, luctus eu, dapibus lacinia, venenatis id, quam. Vestibulum imperdiet, magna nec eleifend rutrum, nunc lectus vestibulum velit, euismod lacinia quam nisl id lorem. Quisque erat. Vestibulum pellentesque, justo mollis pretium suscipit, justo nulla blandit libero, in blandit augue justo quis nisl. Fusce mattis viverra elit. Fusce quis tortor. Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum. Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. </p>
            <p></p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>