<div id="page-wrapper">
  <div class="12u">
    <div id="onecolumn-content" class="5grid-layout" style="text-align: center">
      <div class="row">
        <div class="12u">
          <section class="center">
            <h2>Ceremony &amp; Reception</h2>
            <p>Both our ceremony and reception will be held at: <br/><br/>
              <b><%= link_to 'The Gatehouse at Lionsgate Center', 'http://www.lionsgatecenter.com/gatehouse.html' %></b>
            </p>

            <p>1055 S 112th St<br/>
            Lafayette, CO 80026</p>

            <p>&nbsp;</p>
            <b><p>Ceremony starts at 6pm (MDT)</p></b>
            <p>A <%= link_to 'live stream', 'http://63.255.4.155/view/viewer_index.shtml?id=134' %> is also available</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="twocolumn">
  <div class="12u">
    <div id="twocolumn2-content" class="5grid-layout">
      <div class="row">
        <div class="12u">
          <h2 class="center">Wedding Party</h2>
        </div>
      </div>
      <div class="row">
        <div class="6u">
          <section>
            <h2 class="center">Britt's Side</h2><br/>
              <h3>Julie Tweedt</h3>
                <p>At my high school graduation, a friends mom told me about this girl who I should meet at Central College. Even though I forgot the name, she ended up becoming one of my best friends. She is a great listener and wedding planner extraordinaire. She’s also the one who suggested I look at graduate schools in Colorado, where I eventually met Seth.</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h3>Mollie Goings</h3>
                <p>Mollie was the first person I met from Seth's family and she quickly put me at ease. It didn’t take long for me to discover that we would have been friends even if Seth wasn’t in the picture. She commiserates with stories about crazy students and Seth’s teasing antics. We also have a mutual love of scarves. I’m gaining a truly wonderful sister.</p>
              <p>&nbsp;</p>
              <h3>Lindsie Blair</h3>
                <p>Lindsie has been my "big sister" since I was in 8th grade.  She has been a great role model despite the fact we lived in different states for several years. I was so excited when she & her family moved to Colorado and we started meeting occasionally for breakfasts together. I appreciate her honesty about life and willingness to share "big sister" wisdom.</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <h3>Jessica Williams</h3>
                <p>I met Jessica in a bible study at Central College during our freshman year, but that was just the beginning.  We bonded over coffee, studying abroad and few too many games of Nerts during our last semester.  She has been the voice of reason countless times and is always willing to pick me up from the airport when I'm in Iowa.</p>
          </section>
        </div>
        <div class="6u">
          <section>
            <h2 class="center">Seth's Side</h2><br/>
              <h3>Steve Meyerhoff - Chef and Call of Duty Instructor</h3>
                <p>Steve and I first met at Mines - we were both into basketball, cooking, religious + science + school discussions, hosting dinners (for only females of course), and playing video games (I was usually terrible, but Seth + a Slurpee or some sort of caffeine is fun for almost anyone). Steve has played a significant role in getting rid of my "nerd curse" (talking to females). For that, I am eternally grateful.</p>
              <p>&nbsp;</p>
              <h3>Jason Martinez - Musician and Matchmaker</h3>
                <p>Jason and I have both played electric guitar at Mile High Vineyard for a while, so we've always had rockin' topics of conversation. (ah ah? get it? get it?) I think Jason intentionally worked his sly matchmaking magic behind the scenes until Brittany and I started dating. I thoroughly appreciate Jason's highly tuned listening ability (in music and in conversations).</p>
              <p>&nbsp;</p>
              <h3>Brad Umbaugh - Computer Whiz and Comedian</h3>
                <p>Brad and I both took courses in the Vineyard Leadership Institute together and began to realize we had a similar sense of humor and perspective of the world. We've bounced software ideas, processes, life, and Christianity off each other during Downtown Denver lunches and late nights around Derek Morphew stories of driving out demons in the Eastern Hemisphere. Yeah - you really can't compete with that, can you?</p>
              <p>&nbsp;</p>
              <h3>Chris Knudsen - Introvert and Inquiry Extraordinaire</h3>
                <p>Chris and I bonded over both of our passions to continually learn and think well - we're always looking into how processes and people are working, pointing out inefficiencies and areas of improvement. I've enjoyed having Chris teach me how to ask better questions of myself and others to encourage reflection, realization, and growth. Plus, he's an introvert; What's not to love?</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>